

body{
  background: #f7f5f5;
}



.nav-link:focus, .nav-link:hover {
  color: #ffffff;
}
.card-img-top{
  max-height: 20rem;
}
.navbar-nav{
    display: flex;
    justify-content: end;
}
@media(max-width: 850px){
  .nav_items{
    overflow-x: scroll;
    gap: 16px;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
 .search{
   width: 100%;
     margin-bottom: 8px;
 }

}

